*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inicio{
    background-color: #FBCC65;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0%;
    justify-content: center;
}

#caixa_inicial{
    background-color: #E8E8E8;
    width: 500px;
    height: 320px;
    padding: 40px;
    padding-top: 40px;
    margin-top: 170px;
    font-family: 'Istok Web';
    border-radius: 10px;
    box-shadow: 0px 0px 1.7px 0px black;
}

#tituloinicio{
    font-weight: 500;
    color: #D19338;
    margin-bottom: 7px;
    font-size: 50px;
    text-align:left;
}

#subtituloinicio{
    font-weight: 500;
    margin-bottom: 10px;
    opacity: 0.7;
    font-size: 15px;
    margin-bottom: 50px;
}

#botao{
    border: none;
    background-color: #D19338;
    color: #E8E8E8;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 420px;
    height: 48px;
    cursor: pointer;
    transition: all 0.9s ease;
    margin-bottom: 30px;
}

#botao:hover{
    transform: scale(0.95);
}

