*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#telalogin{
    display: flex;
    height: 100vh;
}

#ladoesquerdo {
    background-color: #FBCC65;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: end;
}

#ladodireito{
    background-color: #FEF5E8;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
   
}

#imagemlogin{
    width: 80%;
    height: 80%;
}

#caixalogin {
    background-color: #E8E8E8;
    width: 50%;
    padding: 20px;
    font-family: 'Istok Web';
    border-radius: 10px;
}

#titulologin{

}

#subtitulo{
    
}

.tituloinput{
    line-height: 30px;
    color: #D19338;
    font-family: 'Istok Web', sans-serif;
}

.input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}