* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homePage {
    display: flex;
    background-color: #FEF5E8;
}

#conteinerLateral{
    display: flex;
    flex-direction: column;
}

#cabecalhoLateral {
    background-color: #FBCC65;
    height: 100vh;
    width: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

#icones {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

#iconeperfil {
    width: 45px;
}

#iconecasa {
    width: 40px;
}

.iconesQuadrados {
    width: 50px;
    margin: 10px 0;
}

#iconescentral {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#iconesair {
    width: 50px;
}

#tela_fundo_categorias {
    width: 100%;
    height: auto;
}

.categorias{
    width: 530px;
    height: 60px;
    background-color: #D19338;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Istok Web', sans-serif;
    color: #FEF5E8;
    display: flex;
    justify-content: ;
    align-items: center;
    padding-left: 10px;
}

.simbuloCategorias{
    width: 30px;
    height: 30px;
}

.simbuloeditar{
    width: 20px;
    height: 20px;
}

.simbuloexcluir{
    width: 20px;
    height: 20px;
}

.conteudoPrincipal{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.botaoadiciona {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
}

.botaoadiciona:hover {
    transform: scale(1.1);
}
